.root {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #f1f1f1;
    max-width: 95%;
    color: #464646;

    &.owner {
        background-color: #fff;
    }
}

.username {
    font-weight: 600;
    margin-bottom: 5px;
}